body {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: "Athelia Pro", serif;

    background-image: url(/Assets/newback.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Athelia Pro";
    src: url(/font/alethiapro-regular.otf);
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}


/*Home section*/

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.container {
    height: fit-content;
    text-align: center;
    padding-left: 3vw;
}


.container h1 {
    font-size: 7.5vw;
    font-weight: 100;
    margin: 1vw 0;
    letter-spacing: 1vw;
    font-family: "Athelia Pro", serif;

    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.container h2 {
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: 2.5vw;
    font-family: "Athelia Pro", serif;
}


/*Navbar section*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    height: 5vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.navbar i {
    display: none;
}

.menu {
    display: flex;
    gap: 4.2vw;
}

.menu a {
    text-decoration: none;
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

.menu a:hover {
    background: linear-gradient(to right, #ff97dc, #91aeff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*area section*/
#area {
    background-color: white;
}

/*content section*/
#content {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 12vh;
    gap: 20px;
    justify-content: space-evenly;
}

.card {
    position: relative;
    width: 28vw;
    height: 38vw;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.card-info {
    text-align: center;
    color: transparent;
    transition: color 0.3s ease;
    font-size: 1vw;
}

.card:hover .card-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.card:hover .card-info {
    color: white;
}

.card:hover img {
    transform: scale(1.1);
}

/*Email section*/

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw 0;
    color: black;
    flex-wrap: wrap;
    font-family: "Athelia Pro", serif;
}

.email img{
    transition: transform 0.3s ease;
    margin-bottom: 2vw;
}

.email img:hover{
    transform: translateY(15px);
}

#email {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 2vw;
    border: solid 0.1vw black;
    height: 2vw;
    align-items: center;
    border-radius: 0.3vw;
    font-family: "Athelia Pro", serif;
    width: 20vw;
}

#submit {
    height: 2.3vw;
    font-size: 1vw;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 0.3vw;
    font-family: "Athelia Pro", serif;
}

#submit:hover {
    background-color: rgb(70, 70, 70);
}

/*Footer section*/

.footer {
    background-color: rgb(0, 0, 0);
    padding: 2vw;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Athelia Pro", serif;
}

.text a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

.socials img {
    filter: invert(1);
}

.socials {
    display: flex;
    gap: 1vw;
    margin: 1vw 0;
}

#logo {
    border: solid 0.1vw rgb(75, 75, 75);
    height: 4vw;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}

#fiverr {
    border: solid 0.1vw rgb(75, 75, 75);
    height: 4vw;
    width: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}

.copy h4 {
    font-weight: 100;
    text-align: center;
    color: rgb(75, 75, 75);
    margin: 1vw 0;
}

/*Media query section*/

@media (max-width:600px) {

    body {
        background-position: center;
    }

    .container h1 {
        font-size: 13vw;
    }

    .container h2 {
        font-size: 3.5vw;
    }

    .container img {
        width: 20vw;
        transition: transform 0.3s ease;
    }

    .container img:hover {
        transform: translateY(20px);
    }

    .logo a {
        font-size: 7vw;
    }

    .socials {
        display: none;
    }

    .menu {
        display: none;
    }

    .navbar i {
        display: block;
        font-weight: 500;
        font-size: 6vw;
    }

    .card-info {
        font-size: 3vw;
    }

    .card {
        width: 75vw;
        height: 135vw;
        border-radius: 8vw;
    }

    .footer {
        padding: 8vw;
        padding-bottom: 4vw;
        border-radius: 8vw;
    }

    .foot-content {
        flex-direction: column;
        align-items: center;
    }

    .footer h2 {
        font-size: 5vw;
        margin: 0;
    }

    .left {
        width: 100%;
    }

    .left h2 {
        font-size: 5vw;
    }

    .left h3 {
        font-size: 4vw;
    }

    .left h4 {
        font-size: 3vw;
    }

    .right {
        width: 100%;
    }

    .contact {
        display: flex;
        justify-content: center;
    }

    .contact h4 {
        font-size: 3vw;
    }

    input {
        width: 50vw;
        height: 7vw;
        font-size: 3vw;
        border-radius: 2vw;
    }

    .contact button {
        font-size: 3.5vw;
        width: 100%;
        border-radius: 2vw;
        margin: 5vw 0;
    }

    .copy h6 {
        font-size: 3vw;
    }

    #message {
        height: 13vw;
    }

}